*
{
    --main: #592895;
    --link: #63a5b1;
}

html,
body 
{
  height: 100%;
}

body.text-center
{
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: url('../images/cuisine.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFF;
}

nav
{
    background: var(--main);
    padding: 16px !important;
}

nav .nav-item a
{
    display: flex;
    align-items: center;
}

nav .nav-item span
{
    margin-right: 8px;
}

.main
{
    padding: 32px 0;
}

.main h1
{
    font-size: 24px;
    font-weight: 600;
}

.main h1 span
{
    margin-right: 8px;
}

.main h2
{
    font-size: 20px;
    font-weight: 600;
}

.form-signin 
{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox 
{
    font-weight: 400;
}

.form-signin .form-control 
{
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus 
{
    z-index: 2;
}

.form-signin input[type="email"] 
{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] 
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.notfound img
{
    width: 100%;
}

.btn
{
    background: var(--main) !important;
    border: 1px solid var(--main) !important;
}

.btn-outline-primary
{
    background: none !important;
    color: var(--main) !important;
}

.btn span
{
    vertical-align: middle;
    font-size: 15px;
    margin-right: 8px;
}

.alert
{
    margin-top: 8px;
}

.formulaire_cherche_aliment
{
    padding: 16px 0;
}

.aliment
{
    padding: 16px 0;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
}

.niveau2
{
    background: #fdd488;
}

.niveau3
{
    background: #fd8888;
}

.bd-placeholder-img 
{
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) 
{
    .bd-placeholder-img-lg 
    {
        font-size: 3.5rem;
    }
}

.link_modal
{
    color: var(--link) !important;
    text-decoration: underline !important;
}

.parametres
{
    padding: 16px 0;
}